.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem 1rem 4rem 1rem;
  background-color: rgb(37, 37, 37);
}

@media (min-width: 800px) {
  .feed {
    display: block;
    columns: 340px;
    padding: 2rem 1rem 2rem 0;
    overflow: hidden;
    text-align: center;
  }

  .feed .post,
  .feed .share {
    margin-bottom: 1.5rem;
    break-inside: avoid;
  }
}
