header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-width: 260px;
  font-family: 'Montserrat';
  background-color: rgb(18, 18, 18);
  z-index: 1;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5vh;
  width: 100%;
  padding: 1rem 0.5rem;
}

.header-container-bottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}

.header-left {
  position: relative;
  width: fit-content;
  text-align: center;
  font-family: 'Montserrat-ExtraBold';
}

header h2 {
  font-size: calc(25px + 0.5vw);
  font-weight: bolder;
  color: white;
  cursor: pointer;
}

.header-center {
  width: fit-content;
  min-width: 60%;
  overflow: hidden;
  margin-right: 1.5rem;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  color: white;
}

/* UL*/
header ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: min(1rem, 2%);
  list-style: none;
  text-align: center;
  font-family: 'Montserrat-Bold';
}

header li {
  display: none;
}

header a button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
  font-size: calc(11px + 0.5vw);
  color: white;
  font-family: 'Montserrat-Bold';
  border: none;
}


@media (min-width: 600px) {
  header {
    position: sticky;
    top: 0;
    justify-content: center;
    gap: 1vw;
    padding: 1rem;
  }

  .header-container {
    padding: 1rem;
  }

  .header-center {
    width: 30%;
  }

  header ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.75rem;
    list-style: none;
    text-align: center;
    font-family: 'Montserrat-Bold';
  }
  
  header li {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Montserrat-Bold';
  }

  header li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat-Bold';
  }

  .header-container-bottom {
    min-width: fit-content;
    min-height: fit-content;
    width: 100%;
    justify-content: space-evenly;
    gap: 1rem;
  }
  
  .header-right {
    min-width: fit-content;
    width: 60%;
    justify-content: space-evenly;
  }

  .header-right a, header ul button {
    font-size: 13.5px;
    color: white;
  }

  .header-right svg,
  .searchbar .search-icon svg {
    width: 22px;
    height: 22px;
  }

  .header-left h2 {
    font-size: calc(30px + 0.5vw);
  }

  .header-center {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: fit-content;
    width: fit-content;
    margin: 0;
  }
}

@media (min-width: 850px) {
  .header-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 5%;
  }
}